@import "variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, Arial, Tahoma Helvetica, sans-serif;
    user-select: none;
}

button.default {
    background-color: rgba(0, 0, 0, .45);
    color: white;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: background-color .25s;
    pointer-events: none;
    opacity: .25;
    text-transform: uppercase;

    &.enabled {
        opacity: 1;
        background-color: lightseagreen;
        pointer-events: all;
    }

    &:hover {
        background-color: black;
    }
}

body {
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;

    div.border {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10001;
        pointer-events: none;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 0 15px white;
    }

    video.local-stream {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        object-fit: fill;
        filter: sepia(50%) grayscale(50%) blur(10px);
        transform: rotateY(180deg);
        background-color: rgba(0, 0, 0, .1);

        @media (max-width: 1000px) {
            object-fit: cover;
        }
    }

    section.container {
        margin: auto;
        text-align: left;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;

        h1 {
            font-family: Lato, Arial, Tahoma Helvetica, sans-serif;
            color: white;
            text-transform: uppercase;
            position: absolute;
            font-size: 12px;
            bottom: 15px;
            right: 15px;
            padding: 10px 15px;
            background: rgba(0, 0, 0, .35);

            span {
                color: rgba(255, 255, 255, .5);
                display: inline-block;
                padding-left: 10px;
                font-weight: normal;
            }
        }

        section.group {
            display: flex;
            position: absolute;
            flex-wrap: wrap;
            top: 40px;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 30px;
            align-items: center;
            justify-content: center;
            transition: top .5s, opacity .5s;
            opacity: 0;

            @media (max-width: $mobile-threshold) {
                align-items: flex-start;
                height: auto;
            }

            &.active {
                top: 0;
                opacity: 1;

                div.window {
                    pointer-events: all;
                }
            }

            div.window {
                pointer-events: none;
                margin: 10px;
                min-width: 300px;
                background-color: white;
                box-shadow: 0 0 50px rgba(0, 0, 0, .5);
                overflow: hidden;
                position: relative;
                z-index: 5001;

                .page {
                    float: left;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    padding: 45px 20px 20px 20px;
                    overflow: hidden;

                    header {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 25px;
                        line-height: 25px;
                        font-size: 10px;
                        width: 100%;
                        background-color: rgba(0, 0, 0, .05);
                        padding: 0 8px;
                        color: rgba(0, 0, 0, .25);
                    }
                }

                @import 'pages/register';
                @import 'pages/chat';

            }
        }
    }
}