$mobile-threshold: 700px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, Arial, Tahoma Helvetica, sans-serif;
    user-select: none;
}

body {
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;

    &:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 0 15px white;
    }

    video.local-stream {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        object-fit: fill;
        filter: sepia(50%) grayscale(50%) blur(10px);
        transform: rotateY(180deg);
        background-color: rgba(0, 0, 0, .1);

        @media (max-width: 1000px) {
            object-fit: cover;
        }
    }

    section.container {
        margin: auto;
        text-align: left;
        padding: 40px 30px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        align-items: center;
        justify-content: center;
        display: flex;

        @media (max-width: $mobile-threshold) {
            align-items: flex-start;
        }

        h1 {
            font-family: Lato, Arial, Tahoma Helvetica, sans-serif;
            color: white;
            text-transform: uppercase;
            position: absolute;
            font-size: 12px;
            bottom: 15px;
            right: 15px;
            padding: 10px 15px;
            background: rgba(0, 0, 0, .35);

            div {
                color: rgba(255, 255, 255, .5);
                display: inline-block;
                padding-left: 10px;
                font-weight: normal;
            }
        }

        section.window {
            background-color: white;
            box-shadow: 0 0 50px rgba(0, 0, 0, .5);
            transition: opacity .5s, transform .5s;
            opacity: 0;
            overflow: hidden;
            transform: scale(0.8);
            position: relative;
            z-index: 5001;

            .page {
                padding: 20px;
                overflow: hidden;
            }

            &.active {
                transform: scale(1);
                opacity: 1;
            }

            @import 'pages/register.scss';

        }
    }
}