* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, Arial, Tahoma Helvetica, sans-serif;
}

body {
    text-align: center;
}

body:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 15px white;
}

section.container {
    margin: auto;
    text-align: left;
    padding-top: 20px;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 2001;
}

h1 {
    font-family: Lato, Arial, Tahoma Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    position: absolute;
    font-size: 12px;
    bottom: 15px;
    right: 15px;
    padding: 10px 15px;
    background: rgba(0, 0, 0, .35);
}

video {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: fill;
    -webkit-filter: sepia(50%) grayscale(50%) blur(10px);
    transform: rotateY(180deg);
}

section.register {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
}

section.register input.alias {
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    width: 205px;
    outline: none;
    float: left;
    margin-right: 15px;
}

section.register button {
    background-color: rgba(0, 0, 0, .45);
    color: white;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: background-color .25s;
    pointer-events: none;
    opacity: .25;
    text-transform: uppercase;
}

section.register button:hover {
    background-color: black;
}

section.register button.enabled {
    opacity: 1;
    background-color: lightseagreen;
    pointer-events: all;
}