@import "../variables.scss";

&.register {

    input.alias {
        height: 32px;
        line-height: 32px;
        border-radius: 0;
        padding: 0 8px;
        outline: none;
        font-size: 12px;
        width: 225px;
        float: left;
        margin-right: 15px;
        -webkit-appearance: none;
        border: 1px solid rgba(0, 0, 0, .15);

        @media (max-width: $mobile-threshold) {
            width: 100%;
        }
    }

    button {

        @media (max-width: $mobile-threshold) {
            display: block;
            width: 100%;
            margin-top: 15px;
            float: left;
        }

    }
}