<section ng-controller="RegisterController">

    <header>Create Alias</header>

    <form ng-submit="beginSession(alias)">

        <input class="alias" type="text" placeholder="How about... {{randomName}}?" ng-model="alias" />

        <button class="default" ng-class="{ enabled: canProceed() }">

            <span ng-show="isStatus(STATUS_CODES.IDLE)">Begin Chatting</span>
            <span ng-show="isStatus(STATUS_CODES.CONNECTING)">Connecting...</span>
            <span ng-show="isStatus(STATUS_CODES.CONNECTED)">Connected!</span>

        </button>

    </form>

</section>