<section class="register window" ng-controller="RegisterController" ng-class="{ active: !isPeer(session.CODES.CONNECTED) }">

    <div class="page">

        <form ng-submit="registerAlias(alias)">

            <input class="alias" type="text" placeholder="Create an Alias..." ng-model="alias" />

            <button ng-class="{ enabled: (alias && session.localStream) }">

                <span ng-show="isPeer(session.CODES.DISCONNECTED)">Begin Chatting</span>
                <span ng-show="isPeer(session.CODES.CONNECTING)">Connecting...</span>
                <span ng-show="isPeer(session.CODES.CONNECTED)">Connected!</span>

            </button>

        </form>

    </div>

</section>