<section class="register" ng-controller="RegisterController" ng-class="{ visible: !isPeer(session.CODES.CONNECTED) }">

    <form ng-submit="registerAlias(alias)">

        <input class="alias" type="text" placeholder="Create an Alias..." ng-model="alias" />

        <button ng-class="{ enabled: (alias && session.localStream) }">

            <span ng-show="isPeer(session.CODES.DISCONNECTED)">Begin Chatting</span>
            <span ng-show="isPeer(session.CODES.CONNECTING)">Connecting...</span>
            <span ng-show="isPeer(session.CODES.CONNECTED)">Connected!</span>

        </button>

    </form>

</section>